<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml" charset="UTF-8">
<head>
    <meta charset="UTF-8">
    <title>Accumulated work</title>
</head>
<body>
<style>
#header {
  background-color: hsl(200, 50%, 70%);
  height: 50px;
}
.link-container a:not(:last-child)::after {
  content: "|";
  margin-left: 10px;
  color: blue;
}
    .form-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: left;
    }

    .form-field {
        display: flex;
        align-items: center;
        margin-bottom: 10px;
    }

    .form-label {
        width: 150px;
        margin-right: 10px;
        text-align: right;
    }

    .form-input {
        width: 300px;
        padding: 5px;
        border: 1px solid #ccc;
        border-radius: 4px;
    }

    .form-button {
        margin-top: 10px;
    }

</style>

<div id="header" class="link-container">
    <a th:href="@{/logout}">Press here if you want logout</a>
    <a th:href="@{/newCom}">Create comment</a>
</div>

<p th:text="${currentDate}"></p>


    <form  th:action="@{/creation_ticked_view}" th:object="${form_ticket}"th:method="POST" th:accept-charset="UTF-8">
<div class="form-container">
    <div class="form-field">
    <label for="name" class="form-label">Enter name of <br/> problem:</label>
    <input type="text" th:field="*{name}" id="name" class="form-input"/>
</div>

    <p th:if="${#fields.hasErrors('name')}" th:each="err : ${#fields.errors('name')}" th:text="${err}"></p>

<div class="form-field">
    <label for="description" class="form-label">Enter description:</label>
    <input type="text" th:field="*{description}" id="description" class="form-input" oninput="autoResize()"/>
</div>
    <div class="form-field">
    <label for="desireddate" class="form-label">Enter DesireDate:</label>
    <input type="date" name="calendar" th:field="*{desireddate}" th:attr="min=${#dates.format(#dates.createNow(),'yyyy-MM-dd')}" id="desireddate" class="form-input"/>
    </div>




    <div class="form-field">
    <!--выбор категории билета-->
    <label for="cateorySelect" class="form-label">Select category:</label>
    <select name="cateorySelect" id="cateorySelect" class="form-input">

        <option value="APPLICATIONANDSERVICES">Application & Services</option>
        <option value="BENEFITSANDPAPERWORC">Benefits & Paper Work</option>
        <option value="HARDWAREANDSOFTWARE">Hardware & Software</option>
        <option value="PEOPLEANDMANAGEMENT">People Management</option>
        <option value="SECURITYANDACCESS">Security & Access</option>
        <option value="WORKPLACESANDFACILITIES">Workplaces & Facilities</option>

    </select>
    </div>


       <!-- <br/>-->

    <div th:if="${#request.isUserInRole('ROLE_MANAGER')}">
        <label for="MyState">only for manager</label>
        <select name="MyState" id="MyState">
            <option value="NEW">NEW</option>
            <option value="DRAFT">DRAFT</option>


        </select>
    </div>

    <!--если отправляем Assign to Me или CANCELED то становишся правоприемником,
    если отправляеш пустое поле -нет-->
    <div th:if="${#request.isUserInRole('ROLE_ENGINEER')}">
        <label for="engineerSuccessorr">appoint a successorr</label>
        <select name="engineerSuccessorr" id="engineerSuccessorr">
            <option value=""></option>
            <option value="AssignToMe">Assign to Me</option>
            <option value="CANCELED">CANCELED</option>
        </select>
    </div>

    <div th:if="${#request.isUserInRole('ROLE_USER') or #request.isUserInRole('ROLE_ENGINEER')}">
        <label for="MyState">not for manager</label>
        <select name="MyState" id="MyState2">
            <option value="NEW">Submit</option>
            <option value="DRAFT">DRAFT</option>
            <option value="DECLINED">DECLINE</option>
        </select>
    </div>

<!--выбор степени срочности-->
    <label for="UrgencyState">Select urgency</label>
            <select name="UrgencyState" id="UrgencyState">

                <option value="CRITICAL">CRITICAL</option>
                <option value="HIGHT">HIGHT</option>
                <option value="AVEREGE">AVEREGE</option>
                <option value="LOW">LOW</option>

             </select>

    <br/>

    <select name="var">

        <option value="one">one</option>
        <option value="two">two</option>
        <option value="three">three</option>

    </select>


    <br/>
    <input type="submit" value="Create"/>
</div>
</form >



<br/>

<div th:each="specific_tickets:${ticket}">
    <a th:text="${specific_tickets.getName()} + ' '+${specific_tickets.getDescription()}"></a>
</div>


</div>



<script>
function autoResize() {
  const input = document.getElementById('description');
  input.style.width = 'auto'; // Временно сбрасываем ширину на автоматическую
  input.style.width = Math.max(input.scrollWidth, 300) + 'px'; // Задаем ширину, выбирая максимальное значение между прокручиваемой шириной и 300px
}
</script>


</body>
</html>




<!--
<form id="form2"  th:action="@{/creation_ticked_view}" th:object="${comment}"th:method="POST">

    <label for="comment">Enter comment</label>
    <input type="text"  th:field="*{comment}" id="comment"/>

    <br/>
    <input type="submit" value="Create"/>


</form>
<br/>
<button onclick="submitForms()">Send forms</button>


<script>
function submitForms() {
  document.getElementById('form1').submit();
  document.getElementById('form2').submit();
}
</script>-->
