<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">

</head>
<body>

<p th:text="${EngineerName}"></p>
<br/>
<p th:text="${TestString}"></p>
<br/>




<a th:href="@{/create_ticket}">Create Ticket</a>
<br/>
<a th:href="@{/tickedLis}">Go to ticked list</a>
<br/>


<a>List of ticked </a>

    <br/>
<div th:each="lOT:${listOfTicked}">
    <a th:text="${lOT.getId()} +' '+${lOT.getLoginOfcreater()} + ' '+${lOT.getState()}+' '+${lOT.getUrgency()}"></a>
</div>
<br/>

<a th:href="@{/logout}">Press here if you want logout</a>

</body>
</html>