<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" data-th-href="@{/css/style.css}"
          media="all">
</head>
<body>

<p th:text="${ManagerName}"></p>

<!--<div th:each="person:${SomeComment}">
    <a th:text="${person.getComments()} + ' '+${person.getLast_name()}"></a>
</div>-->

<div th:each="person:${onleUsersWithComm}">
    <a  th:text="${person.getComments()} + ' '+${person.getLast_name()}"></a>
</div>


<a th:href="@{/create_ticket}">Create Ticket</a>
<br/>
<a>All ticked</a>

<div th:each="specific_tickets:${ticket}">
    <a th:text="${specific_tickets.getName()} + ' '+${specific_tickets.getDescription()}"></a>
</div>

<form  th:action="@{/ticked}">

    <br/>
    <select name="name">
        <option th:each="user:${onleUsersWithComm}"
                th:text="${user.getLast_name()}"></option>
    </select>
    <br/>
    <select name="id">
        <option th:each="ticked:${list_of_ticked}"
                th:text="${ticked.getId()}"></option>
    </select>
    <input type="submit" value="Add item"/>

</form>

<a>List of ticked</a>
<p th:text= "${list_of_ticked}"></p>




<a th:href="@{/logout}">Press here if you want logout</a>




</body>
</html>