<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Welcome</title>
    <link rel="stylesheet" data-th-href="@{/css/style.css}"
          media="all">
</head>
<body>

<a th:href="@{/manager}">MANAGER</a>
<br/>
<br/>
<a th:href="@{/engineer}">ENGINEER</a>
<br/>
<br/>
<a th:href="@{/newCom}">EMPLOYEE</a>

<p th:text="${onleUserWithComment}"></p>
<br/>
<a th:href="@{/testCont}">MANAGER</a>



regForm
<a th:href="@{/regForm}">registration</a>

</body>
</html>