<!doctype html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://code.jquery.com/ui/1.13.0/jquery-ui.min.js"></script>
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.13.0/themes/base/jquery-ui.css">
    <title>Title</title>
</head>
<body>


<br/>

<!------------table of ticked----------->
<style>
 .container {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;

  height: 100vh;
  padding-top: 20px;
}


  .bordered-table {
    border-collapse: collapse;
    border: 1px solid black;
    width: 100%;
  }

  .bordered-table th,
  .bordered-table td {
    border: 1px solid black;
  }

  .bordered-table tr:nth-child(even) {
  background-color: #e6f2ff; /* Цвет второй строки - синий */
}

.bordered-table tr:nth-child(odd) {
  background-color: white; /* Цвет первой строки - белый */
}
.bordered-table th {
  font-size: 2em;
  text-align: center;
}
</style>
<h1 style="text-align: center;">Tickets</h1>

<div id="tabs">
    <ul>

        <li><a href="#tab1">NEW <span th:text="${newTicked.size()}"></span></a></li>
        <li><a href="#tab2">IN PROGRESS <span th:text="${inPogressTicked.size()}"></span></a></li>
        <li><a href="#tab4">DONE <span th:text="${doneTicked.size()}"></span></a></li>

    </ul>
    <!--NEW-->
    <div id="tab1">


        <div class="container">

            <table class="bordered-table">
                <thead>
                <tr>
                    <th>ID</th>
                    <th>Name</th>
                    <th>State</th>
                    <!--<th>Assign to me</th>-->

                </tr>
                </thead>
                <tbody>
                <!--просмотреть билет-->
                <tr th:each="lis:${newTicked}">
                    <td>
                        <form th:action="@{/tickedShow/{id}(id=${lis.getId()})}" method="POST">
                            <button type="submit" th:text="${lis.getId()}"></button>
                        </form>
                    </td>
                    <td>
                        <a th:text="${lis.getName()}"></a>
                    </td>
                    <td>
                        <a th:text="${lis.getState()}"></a>
                    </td>


                </tr>
                </tbody>
            </table>
        </div>


        <br/>
        <script>
    function myFunc(){
    var forScript = document.getElementById('forScript').value;
    if (forScript=='one'){
    document.getElementById('dfg').innerHTML = 'Hello JavaScript';
    }
    }
</script>

        <a>Sorted</a>

        <br/>
        <form  th:action="@{/tickedLis}" th:method="GET">

            <select name="var">
                <option value="urgency">urgency</option>
                <option value="id">id</option>
                <option value="id decreasing">id decreasing</option>
                <option value="date">date</option>
                <option value="creationDate">date of creation</option>
                <option value="alphabet">alphabet</option>
                <option value="state">state</option>
                <option value="APPROVED">APPROVED</option>
                <option value="CANCELED">CANCELED</option>


            </select>

            <input type="submit" value="filer"/>

        </form>
        <br/>

        <a th:href="@{/create_ticket}">Create new ticket</a>

    </div>
    <!--IN PROGRESS-->
    <div id="tab2">

        <div class="container">

            <table class="bordered-table">
                <thead>
                <tr>
                    <th>ID</th>
                    <th>Name</th>
                    <th>State</th>
                    <th>For approval</th>

                </tr>
                </thead>
                <tbody>
                <!--просмотреть билет-->
                <tr th:each="lis:${inPogressTicked}">
                    <td>
                        <form th:action="@{/tickedShow/{id}(id=${lis.getId()})}" method="POST">
                            <button type="submit" th:text="${lis.getId()}"></button>
                        </form>
                    </td>
                    <td>
                        <a th:text="${lis.getName()}"></a>
                    </td>
                    <td>
                        <a th:text="${lis.getState()}"></a>
                    </td>
                    <td>
                        <div th:if="${lis.getApproving() != null}">
                            <a>for approval</a>
                        </div>
                    </td>

                </tr>
                </tbody>
            </table>
        </div>
    </div>

    <!--DONE-->
    <div id="tab4">
        <div th:each="ticked:${doneTicked}">
            <a th:text="${ticked.getId()} +' '+${ticked.getName()}"></a>

        </div>
    </div>

</div>

<script>
  $(function() {
    $("#tabs").tabs();
  });
</script>




</body>
</html>

