<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://code.jquery.com/ui/1.13.0/jquery-ui.min.js"></script>
    <link href="/css/cssForUserPage.css" rel="stylesheet">
    <title>Tickets</title>

</head>
<body>

<h1>Tickets</h1>

<div class="centered-text">Sorted</div>

<!-- Фильтр -->
<form th:action="@{/tickedLis}" th:method="GET" class="filter-container">
    <select name="var">
        <option value="urgency">urgency</option>
        <option value="id">id</option>
        <option value="id decreasing">id decreasing</option>
        <option value="date">date</option>
        <option value="creationDate">date of creation</option>
        <option value="alphabet">alphabet</option>
        <option value="state">state</option>
        <option value="APPROVED">APPROVED</option>
        <option value="CANCELED">CANCELED</option>
        <option value="allTicked">all ticket</option>
    </select>
    <input type="submit" value="filter"/>
</form>

<!-- Кнопки -->
<div id="header" class="link-container">
    <a th:href="@{/create_ticket}">Create new ticket</a>
    <a th:href="@{/logout}" class="logout-link">Press here if you want logout</a>
</div>

<!-- Tabs -->
<div id="tabs">
    <ul>
        <li><a href="#tab1">Ticked</a></li>
        <li><a href="#tab2">Draft</a></li>
    </ul>

    <div id="tab1">
        <div class="container">
            <table>
                <thead>
                <tr>
                    <th>ID</th>
                    <th>Name</th>
                    <th>Description</th>
                    <th>Urgency</th>
                    <th>State</th>
                    <th>Engineer name, in progress</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="lis:${list2}">
                    <td>
                        <form th:action="@{/tickedShow/{id}(id=${lis.getId()})}" method="POST">
                            <button type="submit" th:text="${lis.getId()}"></button>
                        </form>
                    </td>
                    <td><a th:text="${lis.getName()}"></a></td>
                    <td><a th:text="${lis.getDescription()}"></a></td>
                    <td><a th:text="${lis.getUrgency()}"></a></td>
                    <td><a th:text="${lis.getState()}"></a></td>
                    <td>
                        <a th:if="${lis.getAssignee() != null}" th:text="${lis.getAssignee() + '- your specialist'}"></a>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>

    <div id="tab2">
        <div th:each="ticked:${draftList}">
            <a th:text="${ticked.getId()} +' '+${ticked.getName()}"></a>
            <a th:href="@{/editForm/{id}(id=${ticked.getId()})}">edit draft</a>
        </div>
        <a th:text="${draftList_message}"></a>
    </div>
</div>

<script>
    $(function () {
      $("#tabs").tabs();
    });
</script>

</body>
</html>
