<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://code.jquery.com/ui/1.13.0/jquery-ui.min.js"></script>
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.13.0/themes/base/jquery-ui.css">
<style>

div {
  margin-bottom: 1.5em;
}

div {
  border: 1px solid #000000; /* Задает рамку вокруг каждого блока */
}

p {
      font-weight: bold;
    }
</style>
</head>
<body>



<div>
    <a>date of creation:</a>
    <p th:text="${ourTicked.getCreate_date()}"></p>

</div>






<div>
    <a>Name of your ticked:</a>
<p th:text="${ourTicked.getName()}"></p>

</div>

<div>
    <a>description of your ticket:</a>
<p th:text="${ourTicked.getDescription()}"></p>
</div>

    <div>
        <a>State of your ticket:</a>
<p th:text="${ourTicked.getState()}"></p>
    </div>

        <div>
            <a>Assignee of your ticket:</a>
<p th:text="${ourTicked.getAssignee()}"></p>
        </div>

            <div>
                <a>Approver of your ticket:</a>
<p th:text="${ourTicked.getApprover()}"></p>
            </div>

                <div>
                    <a>Login of your ticket:</a>
<p th:text="${ourTicked.getLoginOfcreater()}"></p>
                </div>

                    <div>
                        <a>Urgency of your ticket:</a>
<p th:text="${ourTicked.getUrgency()}"></p>
                    </div>

                        <div>
                            <a>Category of your ticket:</a>
<p th:text="${ourTicked.getCategor()}"></p>
                        </div>

<div>
    <a>Description:</a>
    <p th:text="${ourTicked.getDescription()}"></p>
</div>

<div>
    <a>Desired resolution date:</a>
    <p th:text="${ourTicked.getDesireddate()}"></p>
</div>

<div>
    <a>Owner:</a>
    <p th:text="${ourTicked.getLoginOfcreater()}"></p>
</div>



<div th:if="${#lists.isEmpty(coments)}">
    <a>No comments</a>
</div>
<div th:if="${not #lists.isEmpty(coments)}">
    <div th:each="commentList : ${coments}">
        <a>Your comments:</a>
        <br/>
        <a>date of comment:</a><p th:text="${commentList.getDate()}"></p>
        <br/>
        <a>login:</a><p th:text="${commentList.getLoginOfCreator()}"></p>
        <br/>
       <p th:text="${commentList.getComment()}"></p>



    </div>
    <form th:action="@{/comments/{id}(id=${ourTicked.getId()})}" th:method="POST">
        <button type="submit">comment page</button>
    </form>
</div>


<div th:each="file:${attached_file}">
    <a>Your file:</a>
    <br/>
    <a th:text="${file.getId()} +' '+${file.getFile_name()} " th:href="@{/getFile/{id}(id=${file.getId()})}"></a>
    <br/>
    <form th:action="@{/deleteFile/{id}(id=${file.getId()})}" method="POST">
    <input type="hidden"  name="id2" th:value="${ourTicked.getId()}"/>
    <input type="submit" value="Delete file"/>
</form>
</div>

<!--<form th:action="@{/deleteFile/{id}(id=${file.getId()})}" method="POST">
    <input type="hidden"  name="id2" value="${ourTicked.getId()}"/>
    <input type="submit" value="Delete file"/>
</form>-->
                   <!--  <div>
                                        <a>Your file:</a>
                                    <p th:text="${attached_file}"></p>
                                        <a th:href="@{/getFile/{id}(id=${ourTicked.getId()})}"></a>
                                    </div>-->

<br/>
<a th:href="@{/newCom/{id}(id=${ourTicked.getId()})}">add Comment</a>
<br/>
<a th:href="@{/addFile/{id}(id=${ourTicked.getId()})}">add file</a>
<br/>

<!--<div th:if="${#request.isUserInRole('ROLE_USER') or #request.isUserInRole('ROLE_MANAGER')}">
<a th:href="@{/editForm/{id}(id=${ourTicked.getId()})}">Edit Ticked</a>
</div>-->
<a th:href="@{/editForm/{id}(id=${ourTicked.getId()})}">Edit Ticked</a>
<br/>

<form th:action="@{/only/{id}(id=${ourTicked.getId()})}" th:method="POST">
    <button type="submit">Ticket history</button>
</form>
<br/>
<!--удаление билета-->
<form th:action="@{/deleteTicket/{id}(id=${ourTicked.getId()})}" th:method="POST">
    <button type="submit">Delete Ticket</button>
</form>



<div th:if="${loginOfcreater.equals(userLogin) and state.equals('DONE')}">
    <form th:action="@{/rate/{id}(id=${ourTicked.getId()})}" th:method="POST">
        <button type="submit">Ticket rate</button>
    </form>
</div>
<form th:action="@{/rate/{id}(id=${ourTicked.getId()})}" th:method="POST">
    <button type="submit">Ticket rate</button>
</form>

<!--<div id="tabs">

<ul>
    <li><a href="#tab1">History</a></li>
    <li><a href="#tab2">Rate</a></li>
    <li><a href="#tab3">Page 3</a></li>
</ul>

<div id="tab1">
    <p th:text="${srt}"></p>


    <style>
  .historyTable {
    border-collapse: collapse;
    border: 1px solid black;
  }
  .historyTable th, .historyTable td {
    border: 1px solid black;
  }
</style>
    <table class="historyTable">

        <thead>
        <tr>
            <th>Date</th>
            <th>Description</th>
            <th>Attached file</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="tikHis:${history}">
            <td>
                <a th:text="${tikHis.getDateHistory()}"></a>
            </td>
            <td>
                <a th:text="${tikHis.getTicket_description()}"></a>
            </td>

            <td>
                <div th:if="${tickedFile!=null&&!tickedFile.isEmpty()}">
                    <div th:each="com:${tickedFile}">
                        <a th:text="${com.getFile_name()}"></a>
                    </div>
                    <a th:text="${tikHis.getDeletedFilename()}"></a>
                </div>
            </td>
        </tr>
        </tbody>

    </table>

</div>



<div id="tab2">
<h1>Rate</h1>


<p th:text="${existRate}"></p>


<div th:if="${existRate == 'make you rate'}">
    <form th:action="@{/saveRate/{id}(id=${id})}" th:object="${rate}" th:method="POST">
        <label for="rate">choose number from 1 to 5:</label>
        <select id="rate" name="rate">
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>
        </select>
        <br/>

        <label for="text">Enter description</label>
        <input type="text" th:field="*{text}" id="text"/>

        <button type="submit">Submit</button>
    </form>

</div>

</div>

    <div id="tab3">
        <a>some taxt</a>
    </div>

</div>-->

<script>
  $(function() {
    $("#tabs").tabs();
  });
</script>
</body>
</html>