<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://code.jquery.com/ui/1.13.0/jquery-ui.min.js"></script>
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.13.0/themes/base/jquery-ui.css">
<style>

div {
  margin-bottom: 1.5em;
  border: 1px solid #000000; /* Задает рамку вокруг каждого блока */
  border-radius: 10px; /* радиус округления углов */
    padding: 10px; /* отступы внутри div */
}



p {
      font-weight: bold;
    }
</style>
</head>
<body>


    <a>date of creation:</a>
<div class ="rounded-div">
    <p th:text="${ourTicked.getCreate_date()}"></p>
</div>

    <a>Name of your ticked:</a>
<div>
    <p th:text="${ourTicked.getName()}"></p>
</div>

    <a>description of your ticket:</a>
<div style="word-wrap: break-word;">
    <p th:text="${ourTicked.getDescription()}"></p>
</div>

    <a>State of your ticket:</a>
<div>
    <p th:text="${ourTicked.getState()}"></p>
</div>

    <a>Assignee of your ticket:</a>
<div>
    <p th:text="${ourTicked.getAssignee()}"></p>
</div>

    <a>Approver of your ticket:</a>
<div>
    <p th:text="${ourTicked.getApprover()}"></p>
</div>

    <a>Login of creater:</a>
<div>
    <p th:text="${ourTicked.getLoginOfcreater()}"></p>
</div>

    <a>Urgency of your ticket:</a>
<div>
    <p th:text="${ourTicked.getUrgency()}"></p>
</div>

    <a>Category of your ticket:</a>
<div>
    <p th:text="${ourTicked.getCategor()}"></p>
</div>

    <a>Description:</a>
<div>
    <p th:text="${ourTicked.getDescription()}"></p>
</div>

    <a>Desired resolution date:</a>
<div>
    <p th:text="${ourTicked.getDesireddate()}"></p>
</div>
    <a>Owner:</a>
<div>
    <p th:text="${ourTicked.getLoginOfcreater()}"></p>
</div>



<div th:if="${#lists.isEmpty(coments)}">
    <a>No comments</a>
</div>
<div th:if="${not #lists.isEmpty(coments)}">
    <div th:each="commentList : ${coments}">
        <a>Your comments:</a>
        <br/>
        <a>date of comment:</a><p th:text="${commentList.getDate()}"></p>
        <br/>
        <a>login:</a><p th:text="${commentList.getLoginOfCreator()}"></p>
        <br/>
       <p th:text="${commentList.getComment()}"></p>



    </div>
    <form th:action="@{/comments/{id}(id=${ourTicked.getId()})}" th:method="POST">
        <button type="submit">comment page</button>
    </form>
</div>


<div th:each="file:${attached_file}">
    <a>Your file:</a>
    <br/>
    <a th:text="${file.getId()} +' '+${file.getFile_name()} " th:href="@{/getFile/{id}(id=${file.getId()})}"></a>
    <br/>
    <form th:action="@{/deleteFile/{id}(id=${file.getId()})}" method="POST">
    <input type="hidden"  name="id2" th:value="${ourTicked.getId()}"/>
    <input type="submit" value="Delete file"/>
</form>
</div>

<!--<form th:action="@{/deleteFile/{id}(id=${file.getId()})}" method="POST">
    <input type="hidden"  name="id2" value="${ourTicked.getId()}"/>
    <input type="submit" value="Delete file"/>
</form>-->
                   <!--  <div>
                                        <a>Your file:</a>
                                    <p th:text="${attached_file}"></p>
                                        <a th:href="@{/getFile/{id}(id=${ourTicked.getId()})}"></a>
                                    </div>-->
<br/>
<a th:href="@{/newCom/{id}(id=${ourTicked.getId()})}">add Comment</a>
<br/>
<a th:href="@{/addFile/{id}(id=${ourTicked.getId()})}">add file</a>
<br/>

<!--<div th:if="${#request.isUserInRole('ROLE_USER') or #request.isUserInRole('ROLE_MANAGER')}">
<a th:href="@{/editForm/{id}(id=${ourTicked.getId()})}">Edit Ticked</a>
</div>-->
<div th:if="${#request.isUserInRole('ROLE_USER')}">
<a th:href="@{/editForm/{id}(id=${ourTicked.getId()})}">Edit Ticked</a>
<br/>
</div>
<form th:action="@{/only/{id}(id=${ourTicked.getId()})}" th:method="POST">
    <button type="submit">Ticket history</button>
</form>
<br/>
<!--удаление билета-->
<div th:if="${#request.isUserInRole('ROLE_USER')}">
<form th:action="@{/deleteTicket/{id}(id=${ourTicked.getId()})}" th:method="POST">
    <button type="submit">Delete Ticket</button>
</form>
</div>


<div th:if="${loginOfcreater.equals(userLogin) and state.equals('DONE')}">
    <form th:action="@{/rate/{id}(id=${ourTicked.getId()})}" th:method="POST">
        <button type="submit">Ticket rate</button>
    </form>
</div>

    <div th:if="${#request.isUserInRole('ROLE_ENGINEER') and  ourTicked.getAssignee() == null}">
        <form th:action="@{/appoint/{id}(id=${ourTicked.getId()})}" th:method="POST">
            <button type="submit">appoint</button>
        </form>
    </div>

    <div th:if="${#request.isUserInRole('ROLE_ENGINEER') and  ourTicked.getAssignee() != null}">
        <form th:action="@{/approving/{id}(id=${ourTicked.getId()})}" th:method="POST">
            <button type="submit">approving</button>
        </form>
    </div>








    <div th:if="${#request.isUserInRole('ROLE_MANAGER') and  ourTicked.getApproving().getTurn() == 'YES'}">
    <div id="state5">
        <button type="button" onclick="submitForm('DONE')">DONE</button>
        <button type="button" onclick="submitForm('DECLINED')">DECLINED</button>
        <!--<button type="button" onclick="submitForm('CANCELED')">CANCELED</button>-->
    </div>

        <script>
    function submitForm(value) {
        document.getElementById('stateValue').value = value;
        document.getElementById('myForm').submit();
    }
</script>
        <form id="myForm" th:action="@{/done/{id}(id=${ourTicked.getId()})}" th:method="POST">
            <input type="hidden" name="managersSolution" id="stateValue">
            <!-- Дополнительные поля формы -->
        </form>
    </div>





<script>
  $(function() {
    $("#tabs").tabs();
  });
</script>
</body>
</html>